.white {
    color: #F8F8FF;
}

a:hover, a:link, a:visited {
    color: #344f6a;
}

.bold {
    font-weight: bold;
}

.router-section {
    margin-top: 10vh;
    margin-bottom: 10vh;
    position: absolute;
    width: 100%;
  }
  
  .fade-enter {
    opacity: 0.01;
  }
  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
  }
  .fade-exit {
    opacity: 1;
  }
  
  .fade-exit.fade-exit-active {
    opacity: 0.01;
    transition: opacity 1000ms ease-in;
  }
  
  .transition-group {
    position: relative;
  }
